
<%- include("_header") -%>

<h1>Customer Export </h1>
<h3>Total number of records in database: </h3>
<h3>Enter a file name and click "Export Customers" </h3>
<form action="/output" method="post">
    <input type="submit" id="submit" value="Download">
</form>
<% if(message.substring(0,5) === "Error") { %>
    <h2>Error!</h2>
    <p><%= message %></p>
<% } %>
<%- include("_footer") -%>